estilos.css 

.apellido{
    color: #86EA80;
    font-size: 50px;
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
}
#primero{
    color: blue;
}

div{
    text-align: center;
}
img{
    height: 400px;
    width: 400px;
    border-radius: 100px;
    border-style: solid;
    border-color: #0736f4;
}
#menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(67, 152, 188);
}

#menu li{
    float:left;
}
#menu li a{
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    color: aliceblue;
}
#menu li a:hover{
    border-bottom: 2px solid rgb(0, 195, 255);
    padding: 15px 25px 13px;
}

.apellido{
    color: blue;
    font-size: 80px;
    text-align: center;
    font-family: 'EB Garamond', serif;
}